.resume input {
    border: none;
    font: inherit;
}

.editableSpan {
    position: relative;
    line-height:24px;
}

.editableSpan button {
    display: none;
    margin-top:-5px;
    line-height:14px;
    z-index: 1;
}
.editableSpan span{
    cursor: pointer;
}
.editableSpan:hover button {
    display: inline;
}