.login{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.2);
    display:flex;
    justify-content: center;
    align-items: center;
    color:rgb(0,135,255)
}
.login>.form{
    background:white;
    min-width: 300px;
    min-height: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:relative;
    background:rgb(237,244,250);
}
.login input{
    border:none;
    border-bottom:1px solid grey;
}
.login > .form >span{
    position: absolute;
    top:0;
    right:0;
    cursor: pointer;
}
.login > .form  button{
    border:none;
    background:inherit;
    color:inherit;
    cursor: pointer;
    font-size:16px;
}