.signUp{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.2);
    display:flex;
    justify-content: center;
    align-items: center;
    color:rgb(0,135,255)
}
.signUp>.form{
    background:white;
    min-width: 300px;
    min-height: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:relative;
    background:rgb(237,244,250);
    border-radius:20px;
}
.signUp > .form >h2{
    margin-top:-20px;
    margin-bottom:20px;
}
.signUp input{
    border:none;
    border-bottom:1px solid grey;
}
.signUp > .form >span{
    font-size:20px;
    position: absolute;
    top:16px;
    right:16px;
    cursor: pointer;
}
.signUp > .form >span:hover{
    background:rgb(220,220,220);
}
.signUp > .form  button{
    border:none;
    background:inherit;
    color:inherit;
    cursor: pointer;
    font-size:16px;
}