<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue简历</title>
    <link rel="stylesheet" href="./css/index-aside.css">
    <link href="./css/index-main.css" rel="stylesheet"/>
    <link href="css/editablespan.css" rel="stylesheet"/>
    <link href="css/login.css" rel="stylesheet"/>
    <link href="css/signUp.css" rel="stylesheet"/>
    <link href="css/share.css" rel="stylesheet"/>
    <link href="css/print.css" rel="stylesheet" media="print"/>
    <link href="css/skinChooser.css" rel="stylesheet">
</head>

<body class="defalut">
<div class="page" id="app">
    <aside v-show="mode !== 'preview'">
        <div class="upper">
            <ul class="actions">
                <li><button class="button" @click="onClickSave">保存</button></li>
                <li><button class="button" @click="shareVisible = true">分享</button></li>
                <li><button class="button" @click="print">打印</button></li>
                <li><button class="button" @click="skinChooserVisible = true">换肤</button></li>
                <li class="button" @click="mode='preview'"><button>进入预览</button></li>
            </ul>
        </div>
        <div class="down">
            <button class="button" @click="onLogout" v-show="hasLogin()">登出</button>
        </div>
    </aside>

    <main>
        <div class="resume">
            <section>
                <h1>
                    <editable-span :disable="mode !== 'preview'" :value="displayResmume.name" @edit="onEdit('name', $event)"></editable-span>
                </h1>
                <p>应聘职位：
                    <editable-span :disable="mode !== 'preview'" :value="displayResmume.jobTitle" @edit="onEdit('jobTitle', $event)"></editable-span>
                </p>
                <p class="profile">
                    <editable-span :disable="mode !== 'preview'" :value="displayResmume.birthday" @edit="onEdit('birthday', $event)"></editable-span>
                    |
                    <editable-span :disable="mode !== 'preview'" :value="displayResmume.gender" @edit="onEdit('gender', $event)"></editable-span>
                    |
                    <editable-span :disable="mode !== 'preview'" :value="displayResmume.email" @edit="onEdit('email', $event)"></editable-span>
                    |
                    <editable-span :disable="mode !== 'preview'" :value="displayResmume.phone" @edit="onEdit('phone', $event)"></editable-span>
                </p>
            </section>
            <section class="skill">
                <h2>技能</h2>
                <ul>
                    <li v-for="skill,index in displayResmume.skills">
                        <editable-span :disable="mode !== 'preview'" :value="skill.name" @edit="onEdit(`skills[${index}].name`, $event)"></editable-span>
                        <div class="description">
                            <editable-span :disable="mode !== 'preview'" :value="skill.description" @edit="onEdit(`skills[${index}].description`, $event)"></editable-span>
                        </div>
                        <span class="remove" v-if="index>3 && mode === 'edit'" @click="removeSkill(index)">X</span>
                    </li>
                    <li class="add" v-if="mode === 'edit'"><span @click="addSkill">
                        添加
                    </span></li>
                </ul>
            </section>
            <section class="projects">
                <h2>项目经历</h2>
                <ol>
                    <li v-for="project,index in displayResmume.projects">
                        <header>
                            <div class="start">
                                <h3 class="name"><editable-span :disable="mode !== 'preview'" :value="project.name" @edit="onEdit(`projects[${index}].name`, $event)"></editable-span></h3>
                                <span class="link"><editable-span :disable="mode !== 'preview'" :value="project.link" @edit="onEdit(`projects[${index}].link`, $event)"></editable-span></span>
                            </div>
                            <div class="end">
                                <span class="keywords"><editable-span :disable="mode !== 'preview'" :value="project.keywords" @edit="onEdit(`projects[${index}].keywords`, $event)"></editable-span></span>
                            </div>
                        </header>
                        <p class="description"><editable-span :disable="mode !== 'preview'" :value="project.description" @edit="onEdit(`projects[${index}].description`, $event)"></editable-span></p>
                        <span v-if="index>1 && mode === 'edit'" @click="removeProject(index)">X</span>
                    </li>
                    <li class="add" v-if="mode === 'edit'"><span @click="addProject">添加</span></li>
                </ol>
            </section>
        </div>
    </main>
    <div v-show="loginVisible" class="login" v-cloak>
        <form class="form" @submit.prevent="onLogin">
            <h2>登录</h2>
            <button @click="loginVisible = false" type="button">关闭</button>
            <div class="row">
                <label>邮箱</label>
                <input v-model="login.email" type="text" name="user">
            </div>
            <div class="row">
                <label>密码</label>
                <input v-model="login.password" type="password" name="password">
            </div>
            <div class="action">
                <button>提交</button>
                <a href="#" @click="signUpVisible = true;loginVisible = false">注册</a>
            </div>
        </form>ak
    </div>
    <div v-show="signUpVisible" class="signUp" v-cloak>
        <form class="form" @submit.prevent="onSignUp">
            <h2>注册</h2>
            <button @click="signUpVisible = false" type="button">关闭</button>
            <div class="row">
                <label>邮箱</label>
                <input v-model="signUp.email" type="text" name="user">
            </div>
            <div class="row">
                <label>密码</label>
                <input v-model="signUp.password" type="password" name="password">
            </div>
            <div class="action">
                <button type="submit">提交</button>
                <a href="#" @click="signUpVisible = false;loginVisible = true">登录</a>
            </div>
        </form>
    </div>
    <div v-show="shareVisible" class="share" v-cloak>
        <div class="share-bg">
            <h2>请分享下面链接</h2>
            <textarea readonly>{{shareLink}}</textarea>
            <button @click="shareVisible = false" type="button">关闭</button>
        </div>
    </div>
    <button class="exitPre" @click="mode ='edit'" v-if="mode ==='preview'">退出预览</button>
    <div v-show="skinChooserVisible" class="skinChooser" v-cloak>
        <div class="skinChooser-bg">
            <button @click="setTheme('defalut')">默认</button>
            <button @click="setTheme('blue-grey')">蓝灰色</button>
            <button @click="skinChooserVisible = false" type="button">关闭</button>
        </div>
    </div>
</div>
<script src="../vendors/av-min.js"></script>
<script src="../vendors/vue.min.js"></script>
<script src="./js/av.js"></script>
<script src="./js/editable-span.js"></script>
<script src="./js/app.js"></script>

<script>




//    var TestObject = AV.Object.extend('TestObject');
//    var testObject = new TestObject();
//    testObject.save({
//        words: 'Hello World!'
//    }).then(function(object) {
//        alert('LeanCloud Rocks!');
//    })
</script>
</body>
</html>